<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ReportMapper">

    <resultMap type="Report" id="ReportResult">
        <result property="totalIncome" column="sum(good_price)"/>
        <result property="totalBill" column="count(bill_id)"/>
        <result property="totalGoodSold" column="count(bill_virtual_id)"/>
        <result property="totalGood" column="count(good_id)"/>
        <result property="totalVip" column="count(vip_id)"/>
        <result property="totalEmployee" column="count(id)"/>
    </resultMap>

    <resultMap type="GoodSold" id="GoodSoldResult">
        <result property="amount" column="count(good_name)"/>
        <result property="name" column="good_name"/>
    </resultMap>

    <resultMap type="Inventory" id="InventoryResult">
        <result property="name" column="good_batch_name"/>
        <result property="amount" column="sum(batch_amount)"/>
    </resultMap>

    <resultMap type="EmployeesInfo" id="EmployeesInfoResult">
        <result property="post" column="post"/>
        <result property="amount" column="count(post)"/>
    </resultMap>


    <select id="getTotalIncome" resultMap="ReportResult">
        select sum(good_price) from bill_detail
    </select>

    <select id="getTotalBill" resultMap="ReportResult">
        select count(bill_id) from bill
    </select>

    <select id="getTotalGoodSold" resultMap="ReportResult">
        select count(bill_virtual_id) from bill_detail
    </select>

    <select id="getTotalGood" resultMap="ReportResult">
        select count(good_id) from good_type
    </select>

    <select id="getTotalVip" resultMap="ReportResult">
        select count(vip_id) from vip_info
    </select>

    <select id="getTotalEmployee" resultMap="ReportResult">
        select count(id) from employees
    </select>

    <select id="getGoodSoldAmount" resultMap="GoodSoldResult">
        select good_name,count(good_name) from bill_detail group by good_name
    </select>

    <select id="getInventoryInfo" resultMap="InventoryResult">
        select good_batch_name,sum(batch_amount) from good_batch group by good_batch_name
    </select>

    <select id="getEmployeesInfo" resultMap="EmployeesInfoResult">
        select post,count(post) from employees group by post
    </select>


</mapper>